
#mySidenav a {
    position: fixed;
    left: -120px;
    transition: 0.3s;
    padding: 15px;
    padding-right: 5px; 
    width: 150px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    margin-top: 50px;
    box-shadow: 30px 40px 100px #000;
    border-radius: 0 5px 5px 0;
    z-index: 100;
}

#mySidenav a:hover {
    left: 0;
    z-index: 100;
}

#about {
    top: 20px;
    background-color: #be1027;
}

#blog {
    top: 80px;
    background-color: rgb(212, 28, 136);
}

#projects {
    top: 140px;
    background-color: rgb(128, 43, 226);
}

#contact {
    top: 200px;
    background-color: rgb(21, 100, 219);
}

#edit {
    top: 260px;
    background-color: rgb(25, 167, 32);
}
.sidenav {
    text-align: right;
}   

.badge-notice{
    background:red;
    position:fixed;
    top: 190px;
    transition: 0.3s;
    left: 15px;
 }

 a:hover > .badge-post {
     left: 140px;
 }

 .badge-post{
    background:red;
    position:fixed;
    top: 130px;
    transition: 0.3s;
    left: 15px;
 }

 a:hover > .badge-notice {
    left: 140px;
}

/*td, th {
    vertical-align: middle !important;
    }
.left, .right {
        float:left;
        height:100vh;
    }
    
.left {
        background: #337ab7;
        display: inline-block;
        white-space: nowrap;
        width: 50px;
        transition: width 1s ;
    }

.right {
        background: #fff;
        width: 350px;
        transition: width 1s;
        border-style:solid;
        border-color:#ccc;
        border-width:1px;
    }    

.left:hover {
        width: 250px;
        z-index: 100;
    }    
    
.item:hover {
        background-color:#ccc;
        }
        
.left .glyphicon {
        margin:15px;
        width:20px;
        color:#fff;
    }
    
.right .glyphicon {
        color:#a9a9a9;
    }
span.glyphicon.glyphicon-refresh{
    font-size:17px;
    vertical-align: middle !important;
    }
    
.item {
        height:50px;
        overflow:hidden;
        color:#fff;
    }
.title {
        background-color:#eee;
        border-style:solid;
        border-color:#ccc;
        border-width:1px;
        box-sizing: border-box;
    }
.search:hover {
        border-color:#4aa9fb;
        border-width:1px;
    }
.search {
    padding:3px 8px 3px !important;
    }
input[type=search] {
    padding: 10px 0px 10px;
	border: 0px solid #fff;
	background: #eee;
	-webkit-appearance: none;
    width:90%;
    float:none;
}
input[type=search]:focus {
    outline:none;
    }
.type{
    height: 47px;;
    }
.date{
    background-color:#f7f7f7
    }
.docdate {
    vertical-align:bottom !important;
    }
.distr {
    margin: 0 0 5px;
    font-size: 12px;
    }
.ndoc {
    margin: 0 0 5px;
    }
.storage {
    margin: 0;
    color: #aaa !important;
    font-size: 12px;
    }
        
    
    
   

*/