<div id="mySidenav" class="sidenav">
    <a href="#" id="about">Attendance <span class="glyphicon glyphicon-briefcase"></span></a>
    <a href="#" id="blog">Post <span class="glyphicon glyphicon-bell" ></span> <span class="badge badge-secondary badge-post">New</span></a>
    <a href="#" id="projects">Notice <span class="glyphicon glyphicon-alert"></span> <span class="badge badge-light badge-notice">4</span></a>
    <a href="#" id="contact">Contact <span class="glyphicon glyphicon-phone"></span></a>
    <a href="#" id="edit">Edit <span class="glyphicon glyphicon-edit"></span></a>
  </div>