.affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
}

.affix + .container-fluid {
    padding-top: 70px;
}

.heights {
    height: 200px;
}

.img-responsive {
    height: 60px;
}
.navbar-brand {
    margin-left: 5px !important;
}

.textType {
    color: white;
    padding-top: 10px;

}