<img class="img-responsive container-fluid" src="../assets/images/technoIndia.png" alt="technoImage"
   width="100%"> 
<nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="60">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">AttendanceSystem</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="isLogin()"><a [routerLink]="['/signup']"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li *ngIf="isLogin()"><a [routerLink]="['/login']"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <li class="dropdown" *ngIf="isLogin()===false">
            <button class="btn  dropdown-toggle" type="button" data-toggle="dropdown">Welcome
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a [routerLink]="['/profile']"> Profile</a></li>
              <li><a [routerLink]="['/edit']">Edit</a></li>
              <li *ngIf="isAdmin()"><a [routerLink]="['/getProfile']">User Profile</a></li>
              <li *ngIf="isAdmin()"><a [routerLink]="['/idForm']">New Register/Edit</a></li>
            </ul>
        </li>
        <li *ngIf="isLogin()===false" ><a [routerLink]="['/']" (click)="onLogout()"><span class="glyphicon glyphicon-log-out">Logout</span></a></li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>