
<div class="container">
    <div class="row">
      <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    Profile 
                    <div class="pull-right action-buttons">
                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-cog" style="margin-right: 0px;"></span>
                            </button>
                            <ul class="dropdown-menu slidedown">
                                <li><a [routerLink]="['/edit']"><span class="glyphicon glyphicon-pencil"></span>Edit</a></li>
                                <li><a [routerLink]="['/attendance']"><span class="glyphicon glyphicon-briefcase"></span>Attendance</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item lists">
                            <div class="pull-left">
                               <p class="text-bold">ID</p>
                           </div>
                            <div class="pull-right action-buttons">
                              <p>{{userDetail.id}}</p>
                            </div>
                        </li>
                        <li class="list-group-item lists">
                            <div class="pull-left">
                                <p class="text-bold">Name</p>
                            </div>
                            <div class="pull-right action-buttons">
                                <p>{{userDetail.name}}</p>
                            </div>
                        </li>
                        <li class="list-group-item lists">
                            <div class="pull-left">
                                <p class="text-bold">Post</p>
                            </div>
                            <div class="pull-right action-buttons">
                                <p>{{userDetail.post}}</p>
                            </div>
                        </li>   
                        <li class="list-group-item lists">
                            <div class="pull-left">
                                <p class="text-bold">Date Of Joining</p>
                            </div>
                            <div class="pull-right action-buttons">
                                <p>{{replaceTZ(userDetail.dateOfJoining)}}</p>
                            </div>
                        </li>   
                        <li class="list-group-item lists">
                            <div class="pull-left">
                                <p class="text-bold">Email-ID</p>
                            </div>
                            <div class="pull-right action-buttons">
                                <p>{{userDetail.email_id}}</p>
                            </div>
                        </li>
                        <li class="list-group-item lists">
                            <div class="pull-left">
                                <p class="text-bold">Contact</p>
                            </div>
                            <div class="pull-right action-buttons">
                                <p>{{userDetail.contactNumber}}</p>
                            </div>
                        </li>
                        <li class="list-group-item lists">
                            <div class="pull-left">
                                <p class="text-bold">Address</p>
                            </div>
                            <div class="pull-right action-buttons">
                                <p>{{userDetail.address}}</p>
                            </div>
                        </li>
                        <li class="list-group-item lists">
                            <div class="pull-left">
                                <p class="text-bold">Date Of Birth</p>
                            </div>
                            <div class="pull-right action-buttons">
                                <p>{{replaceTZ(userDetail.dateOfBirth)}}</p>
                            </div>
                        </li>
                        <li class="list">
                            <div>
                                <p class="text-bold">Subject</p>
                            </div>
                        </li>

                        
                            
                        
                    </ul>
                    <ul class="list-inline" *ngFor="let subject of userDetail.subject">
                        <li>
                            <div>
                                <p class="text-bold">Subject Name: </p>
                            </div>
                            <div>
                                <p>{{subject.name}}</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <p class="text-bold">Subject Stream: </p>
                                <p>{{subject.stream}}</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <p class="text-bold">Subject Semester: </p>
                            </div>
                            <div>
                                <p>{{subject.semester}}</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>       
        </div>
    </div>
</div>
<router-outlet></router-outlet>
