<div class = "container">
    <div class="wrapper">
      <form  name="SignUp_Form" class="form-signin" [formGroup]="userDetail" (ngSubmit)="onSubmitEdit()">       
          <h3 class="form-signin-heading">Welcome! Please Sign Up</h3>
          <hr class="colorgraph"><br>
          
          <div class="form-group">
            <label for='id'>ID: </label>
              <input type="text" class="form-control" name="ID" 
              placeholder="id" formControlName= "id" 
              required="" autofocus="" disabled />
          </div>
          <div class="form-group">
            <label for='name'>Name: </label>
              <input type="text" class="form-control" name="name" 
              placeholder="Name" formControlName= "name" 
              required="" autofocus="" />
          </div>
          <div class="form-group">
            <label for='email'>Email: </label>
              <input type="text" class="form-control" name="Email" 
              placeholder="Email" formControlName= "email_id" 
              required="" autofocus="" />
          </div>
          <div class="form-group">
            <label for='username'>Username: </label>
              <input type="text" class="form-control" name="Username" 
              placeholder="Username" formControlName= "username"
              required=""  autofocus="" />
          </div>
          <div class="form-group">
            <label for='password'>password: </label>
              <input type="password" class="form-control" name="Password"
               placeholder="Password" formControlName= "password" 
               required=""/>     		  
          </div>
          <div class="form-inline">
            <label for='password'>Subject: </label>
            <div class="form-group">
                <label for='password'>Name: </label>
                <input type="text" class="form-control" name="Password"
                 placeholder="Password" formControlName= "" 
                 required=""/>
                 <label for='password'>Stream: </label>
                 <input type="text" class="form-control" name="Password"
                  placeholder="Password" formControlName= "" 
                  required=""/>
                  <label for='password'>Semester: </label>
                  <input type="text" class="form-control" name="Password"
                  placeholder="Password" formControlName= "" 
                  required=""/>
            </div>
          </div>
          <br>
          <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block"  name="Submit" value="SignUp" type="Submit">SignUp</button>  			
          </div>
        </form>
    </div>
  </div>
  