/* You can add global styles to this file, and also import other style files */
body, html {
    height: 100vh;
    background-image: url("./assets/images/background.jpg");
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

